In [68]:
import pandas as pd
import csv

In [69]:
# cargar a una variable el dataset
df = pd.read_csv("datasets/Sleep_health_and_lifestyle_dataset.csv")
df

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,370,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
370,371,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
371,372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
372,373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
373,374,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea

In [70]:
# 1) genero
# 2) duracion del sueño horas al dia
# 3) calidad del sueño 1-10
# 4) actividad fisica en minutos
# 5) nivel de estres 1-10
# 6) presion arterial
# 7) pasos diarios
# 8) edad como nuestra y
columnas_a_eliminar = ['Person ID', 'Occupation', 'BMI Category', 'Blood Pressure', 'Sleep Disorder']
df = df.drop(columnas_a_eliminar, axis=1)

# Guardar el DataFrame resultante en un nuevo archivo CSV
df.to_csv('sleep_healt_pre.csv', index=False)

In [71]:
df

,Gender,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,Heart Rate,Daily Steps
0,Male,27,6.1,6,42,6,77,4200
1,Male,28,6.2,6,60,8,75,10000
2,Male,28,6.2,6,60,8,75,10000
3,Male,28,5.9,4,30,8,85,3000
4,Male,28,5.9,4,30,8,85,3000
...,...,...,...,...,...,...,...,...
369,Female,59,8.1,9,75,3,68,7000
370,Female,59,8.0,9,75,3,68,7000
371,Female,59,8.1,9,75,3,68,7000
372,Female,59,8.1,9,75,3,68,7000
373,Female,59,8.1,9,75,3,68,7000

In [72]:
# columna genero cambiamos por 0 y 1
mapeo_sex = {'Male': 1, 'Female': 2}
# mapeo_schoolsup = {'yes': 1, 'no': 0}
# mapeo_famsup = {'yes': 1, 'no': 0}
# mapeo_paid = {'yes': 1, 'no': 0}
# mapeo_activities = {'yes': 1, 'no': 0}
# mapeo_nursery = {'yes': 1, 'no': 0}
# mapeo_higher = {'yes': 1, 'no': 0}
# mapeo_internet = {'yes': 1, 'no': 0}
# mapeo_romantic = {'yes': 1, 'no': 0}

df['Gender'] = df['Gender'].map(mapeo_sex)
# df['schoolsup'] = df['schoolsup'].map(mapeo_schoolsup)
# df['famsup'] = df['famsup'].map(mapeo_famsup)
# df['paid'] = df['paid'].map(mapeo_paid)
# df['activities'] = df['activities'].map(mapeo_activities)
# df['nursery'] = df['nursery'].map(mapeo_nursery)
# df['higher'] = df['higher'].map(mapeo_higher)
# df['internet'] = df['internet'].map(mapeo_internet)
# df['romantic'] = df['romantic'].map(mapeo_romantic)

datos = df
datos.to_csv('sleep_healt_pre.csv', index=False)

In [73]:
datos

,Gender,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,Heart Rate,Daily Steps
0,1,27,6.1,6,42,6,77,4200
1,1,28,6.2,6,60,8,75,10000
2,1,28,6.2,6,60,8,75,10000
3,1,28,5.9,4,30,8,85,3000
4,1,28,5.9,4,30,8,85,3000
...,...,...,...,...,...,...,...,...
369,2,59,8.1,9,75,3,68,7000
370,2,59,8.0,9,75,3,68,7000
371,2,59,8.1,9,75,3,68,7000
372,2,59,8.1,9,75,3,68,7000
373,2,59,8.1,9,75,3,68,7000

In [74]:
# Obtener el índice de la columna
indice_columna = df.columns.get_loc('Age')

# Obtener el nombre de todas las columnas excepto la que se va a mover
columnas_sin_mover = [col for col in df.columns if col != 'Age']

# Reorganizar las columnas en el orden deseado
nuevo_orden_columnas = columnas_sin_mover + ['Age']
df = df[nuevo_orden_columnas]

# Guardar el DataFrame actualizado en un nuevo archivo CSV
df.to_csv('sleep_healt_pre.csv', index=False)

In [75]:
df

,Gender,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,Heart Rate,Daily Steps,Age
0,1,6.1,6,42,6,77,4200,27
1,1,6.2,6,60,8,75,10000,28
2,1,6.2,6,60,8,75,10000,28
3,1,5.9,4,30,8,85,3000,28
4,1,5.9,4,30,8,85,3000,28
...,...,...,...,...,...,...,...,...
369,2,8.1,9,75,3,68,7000,59
370,2,8.0,9,75,3,68,7000,59
371,2,8.1,9,75,3,68,7000,59
372,2,8.1,9,75,3,68,7000,59
373,2,8.1,9,75,3,68,7000,59

In [76]:
df = pd.read_csv("datos_aumentados.csv")
# Reindexar el DataFrame
df = df.reset_index(drop=True)
# Calcular el factor de interpolación
factor_interpolacion = 10  # (200 ejemplos / 50 ejemplos)

# Crear una lista vacía para almacenar los DataFrames interpolados
df_interpolados = []

# Iterar sobre cada columna del DataFrame
for columna in df.columns:
    # Interpolar los valores de la columna y expandir el DataFrame
    columna_interpolada = df[columna].interpolate().repeat(factor_interpolacion)
    df_interpolados.append(columna_interpolada)

# Concatenar las columnas interpoladas en un nuevo DataFrame aumentado
df_aumentado = pd.concat(df_interpolados, axis=1)

FileNotFoundError: [Errno 2] No such file or directory: 'datos_aumentados.csv'

In [ ]:
# Verificar el DataFrame aumentado
print(df_aumentado)

      1  6.1  6  42  6.2  77  4200  27
0     1  6.1  6  42    6  77  4200  27
0     1  6.1  6  42    6  77  4200  27
0     1  6.1  6  42    6  77  4200  27
0     1  6.1  6  42    6  77  4200  27
0     1  6.1  6  42    6  77  4200  27
...  ..  ... ..  ..  ...  ..   ...  ..
1868  2  8.1  9  75    3  68  7000  59
1868  2  8.1  9  75    3  68  7000  59
1868  2  8.1  9  75    3  68  7000  59
1868  2  8.1  9  75    3  68  7000  59
1868  2  8.1  9  75    3  68  7000  59

[18690 rows x 8 columns]